[Unit]
Description=Seance Backend
After=network-online.target docker.service
Wants=network-online.target
Requires=docker.service

[Service]
Type=simple
WorkingDirectory={{ install_dir }}
ExecStart=/bin/bash -c '. /nix/var/nix/profiles/default/etc/profile.d/nix-daemon.sh && devenv --profile prod up'
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

# Environment
Environment="NIX_CONFIG=experimental-features = nix-command flakes"

[Install]
WantedBy=multi-user.target
